html {
  font-family: 'Nunito', sans-serif;
  color: #f7f00c;
  background-color: #345beb;
  margin-left: 25px;
  margin-right: 25px;
}
hr {
  background-color: #345beb;
  border-color: transparent;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 50%;
  height: 2px;
}
iframe {
  width: 560px;
  height: 315px;
}
.center {
  text-align: center;
}
a {
  color: white;
  text-decoration: underline;
}
#video-holder:last-child {
	margin-bottom: 5rem !important;
}
*::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
button, input {
	border-radius: 4px;
	outline: none;
	border: 2px solid #f7f00c;
}
button {
	background-color: #f7f00c;
	width: 4rem;
	color: white;
	height: 1.3rem;
}
input {
	height: 1.2rem;
	outline: none;
}
input:focus, textarea:focus, select:focus{
	outline: none;
}
button:active {
	background-color: #f7f00c;
	color: #f7f00c;
}
.space {
  background-color: transparent;
  border-color: transparent;
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 30px;
}
@media screen and (max-width: 600px) {
  html {
    font-size: 1.4rem;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
  }
  iframe {
    width: 400px;
    height: 225px;
  }
}
